<button class="btn"><a href="/">Home</a></button>
<button class="btn"><a href="/signup">Sign Up</a></button>
<button class="btn"><a href="/login">Login</a></button>
<button class="btn"><a href="/secret">Secret Page</a></button>
<button class="btn"><a href="/logout">Logout</a></button>