<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your bussiness with us</>
            <div class="row">
                <div class="col-12 col-md-6 hero-text">
                    <figure>
                        <img class="h-75 w-75" src="images/about.png" alt="herosection_image">
                    </figure>
                </div>


                <!-- right side -->
                <div class="col-12 col-md-6 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>We Are The Team Of Professional Developers✌</h1>
                    <p>
                        Welcome to <span class="bold-style text-success fs-2">Deepak Technical.</span>Your Number
                        One sorce for all things. We're dedicated to giving you the very best of work. With a focus
                        on [three charactersitics. ie. Dependability, customer service and uniqueness.
                    </p>
                    <button class="btn btn-style btn-danger">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>