<html>
<head>
    {{>style}}
</head>
<body>
    {{>header}}
    <section class="hero">
        <h1>Welcome to our Ecommerce Site</h1>
        <p>Explore our products and find what you're looking for</p>
    </section>
    {{>footer}}
</body>
</html>