<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>Home Page</title>
</head>
<body>
    {{>navbar}}
    <div class="container">
        <header>
            <div class="flip-card m-auto">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">FLIP CARD</p>
                        <p>Hover Me</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">BACK</p>
                        <p>Leave Me</p>
                    </div>
                </div>
            </div>
        </header>
        <section class="m-auto">
            <button class="btn m-2"><a href="/login">Login</a></button>
            <button class="btn m-2"><a href="/register">Register</a></button>
        </section>
    </div>
</body>
</html>