<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <title>Home Page</title>
</head>
<body>
    {{>navbar}}
    <div class="container">

        <div class="flip-card m-auto">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">FLIP CARD</p>
                    <p>Hover Me</p>
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                    <p>Leave Me</p>
                </div>
            </div>
        </div>

        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value=""
                    autocomplete="off">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Login</button>
        </form>

    </div>
</body>
</html>